@font-face {
    font-family: "SKY";
    src: url("./assets/fonts/SKY.woff2");
}
@import "tailwindcss";

body {
  font-family: "SKY", sans-serif;
}

/* body {
  direction: rtl;
} */

.category-card {
  overflow: hidden;
}

.category-card::before {
  top: 100%;
  transition: .3s;
}

.category-card .card-body {
  opacity: 0;
  transition: .3s .3s;
}

.category-card:hover::before {
  top: 0;
}

.category-card:hover .card-body {
  opacity: 1;
}